<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini-AI-Chatbot-Nexus</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
</head>
<body>
    <h1>Gemini-AI-Chatbot-Nexus</h1>
    <form action="/generate-world" method="POST">
        <div id="prompt-container">
            <label for="prompt">Enter your query:</label>
            <textarea id="prompt" name="txt-promp" rows="5"></textarea>
            <button type="submit" id="submit-button">Ask the AI</button>
        </div>
    </form>
    <div id="response-container">
        <h2>AI Response:</h2>
        <pre id="response-text">{{ geminianswer }}</pre>
        <button id="play-audio-button">Play Audio</button>
    </div>

    <!-- We add a hidden audio element -->
    <audio id="response-audio" style="display: none;"></audio>

    <script>
        document.getElementById("play-audio-button").addEventListener("click", function() {
            // We get the text of the AI response
            var responseText = document.getElementById("response-text").innerText;

            // We create a POST request to get the audio of the response
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/generate-audio", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // We convert the server response to a JSON object
                    var responseData = JSON.parse(xhr.responseText);
                    
                    // We get the audio content from the response
                    var audioContent = responseData.audio_content;

                    // We create a Blob from the audio content
                    var blob = new Blob([audioContent], { type: "audio/mp3" });

                    // We create an object URL for the Blob
                    var url = URL.createObjectURL(blob);

                    // We set up the audio element to play the audio
                    var audioElement = document.getElementById("response-audio");
                    audioElement.src = url;

                    // We play the audio
                    audioElement.play();
                }
            };

            // We send the request with the text of the AI response
            xhr.send(JSON.stringify({ text: responseText }));
        });
    </script>
</body>
</html>


